.chat
  = render "groups/chat-side"
  / .chat-side
  /   .chat-side__header
  /     %h5
  /       = current_user.name
  /       .font-awesome
  /         = link_to root_path, class: "font-awesome__specific" do
  /           %i{class: "fa fa-pencil-square-o"}
  /         = link_to edit_user_registration_path, class: "font-awesome__specific" do
  /           %i{class: "fa fa-cog"}
  /   .group
  /     %ul.group__list
  /       - @groups.each do |group|
  /         %li.group__name
  /           = group.group_name
  /           .group__message
  /             メッセージはありません
  .chat-main
    .chat-header
      .chat-header__left
        %h2
          = @group.group_name
        %p.chat-header__members
          Members:
          - @group.users.each do |user|
            = user.name
      .chat-header__right
        = link_to "Edit", edit_group_path(@group), class: "chat-header__edit"
    .chat-body
      - if @messages
        = render partial: 'messages/message', local: @messages
      / %ul.chat-messages
      /   %li.chat-message
      /     .chat-message__header
      /       %p.chat-message__user
      /         = current_user.name
      /       %p.chat-message__date
      /         = @messages.created_at.strftime("%Y年%m月%d日 %H時%M分")
      /       %p.chat-message__text
      /         = @messages.body
    .chat-footer
      = form_for [@group, @message], html: {id: "new_message"} do |f|
        .chat-footer__form
          = f.text_area :body, placeholder: "Type a message",class: "chat-footer__input"
          = f.label :image do
            %i{class: "fa fa-picture-o file__icon"}
            = f.file_field :image, class: "file-picture",style: "display:none"
          = f.submit "Send", class:"chat-footer__submit"

