.chat-side
  .chat-side__header
    %h5
      = current_user.name
      .font-awesome
        = link_to new_group_path, class: "font-awesome__specific" do
          %i{class: "fa fa-pencil-square-o"}
        = link_to edit_user_registration_path, class: "font-awesome__specific" do
          %i{class: "fa fa-cog"}
  .group
    %ul.group__list
      - @groups.each do |group|
        %li.group__name
          = link_to "#{group.group_name}", group_messages_path(group)
          - if group.messages.present?
            .group__message
              - if group.messages.last.image.present?
                画像が送信されました。
              - elsif group.messages.last.body.present?
                = group.messages.last.body
              - elsif group.messages.nil?
                まだ、メッセージが投稿されていません。
